# Copie para .env e ajuste conforme necessário.
APP_NAME=Serviço de Notificações
ENVIRONMENT=development

# false = usa BackgroundTasks do FastAPI (sem broker)
# true  = usa Celery (precisa de Redis/RabbitMQ rodando)
USE_CELERY=false

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

RATE_LIMIT_PER_RECIPIENT=5
